.wrapper{
    padding-top: 178px;
    margin: 0 auto;
    max-width: 317px;
}

.notFound {
    text-align: center;
    font-family: 'SB Sans Display', Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 170px;
    line-height: 100%;

    background: radial-gradient(45.71% 123.24% at 22.89% 23.1%, #64A2FF 0%, #07E897 84.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.descriptionNotFound{
    margin-bottom: 8px;
    font-family: 'SB Sans Display', Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    letter-spacing: -0.01em;

    color: #63696E;
    text-align: center;
}

.description{
    font-family: 'SB Sans Interface', Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #63696E;
    text-align: center;
}


.links{
    padding-top: 48px;
    list-style-type: none;
    text-align: center;

    li{
        margin-bottom: 12px;
    }
    a{
        text-decoration: none;
        font-family: 'SB Sans Interface', Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #0E8BFF;

        flex: none;
        flex-grow: 0;
    }
    a:hover {
        color: #63696E;
    }
}

@media (max-width: 768px) {
    .errorWrapper{
        padding-top: 144px;
    }
}

@media (max-width: 375px) {
    .errorWrapper{
        padding-top: 136px;
    }
}

@media (max-width: 375px) {
    .description{
        padding-top: 8px;
    }
}

@media (max-width: 375px){
    .links{
        padding-top: 46px;
    }
}
